body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lin{
  color:black;
  font-size: 20px;
}

.git{
  color: black;
  font-size: 20px;
}

.eeml{
  color:black;
  font-size: 20px;
}

.avi{
  height: 5000px;
}

.pt-5{
  border: 1px solid grey;
}

.about{
  background-color: rgb(212, 212, 212);  
}

.contact{
  background-color: rgb(212, 212, 212);
}

.portfolio{
  background-color: rgb(212, 212, 212);
}

.nav-item{
  padding-right: 20px;
}

.svg{
  fill:black;
}