body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lin{
  color:black;
  font-size: 20px;
  text-align: center;
}

.git{
  color: black;
  font-size: 20px;
  padding-right: 53px;
}

.eeml{
  color:black;
  font-size: 20px;
  padding-right: 60px;
}

.avi{
  height: 5000px;
}



.about{
  background-color: rgb(212, 212, 212); 
  background: url("https://img.wallpapersafari.com/desktop/1920/1080/58/81/SGBTp8.png");
}

.contact{
  background-color: rgb(212, 212, 212);
  background: url("https://img.wallpapersafari.com/desktop/1920/1080/58/81/SGBTp8.png");
  height: 1000px;

}

.portfolio{
  background-color: rgb(212, 212, 212);
  background: url("https://img.wallpapersafari.com/desktop/1920/1080/58/81/SGBTp8.png");
  background-position: center;
}

.nav-item{
  padding-right: 20px;
}

.svg{
  fill:black;
}